@import "../../node_modules/compass-mixins/lib/compass/reset";
@import "../../node_modules/compass-mixins/lib/compass/css3";

$font-family-common: Helvetica, 'Helvetica Neue', "Open Sans", Arial, "Microsoft YaHei", sans-serif;
$font-family-title: "Helvetica Neue", Helvetica, "Open Sans", "Microsoft YaHei", Arial, sans-serif;
$green: #4fc08d;

html {
    height: 100%;
}
body {
    height: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    font-family: $font-family-common;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    background-color: $green;
    text-align: center;
    overflow: hidden;
}
.kill-ie {
    margin: 0;
    padding: .5em 0;
    color: #333;
    text-align: center;
    background: #fff8e2;
}
.header{
    position: fixed;
    top: 25px;
    left: 40px;
    font-size: 18px;
    .logo{
        font-weight: bold;
        letter-spacing: 3px;
    }
}
.footer{
    position: fixed;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    opacity: 0.6;
    a{
        color: #fff;
        text-decoration: none;
    }
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.title{
    font-family: $font-family-title;
    font-size: 88px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.btn{
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 4px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    transition: all .25s ease-in-out;
    &:hover{
        padding: 8px 20px 6px;
        color: $green;
        background: #fff;
        border: 1px solid #fff;
        border-bottom: 3px solid #d7d7d7;
    }
}


/* 滚动条 */
::-webkit-scrollbar {
    background-color: #f1f1f1;
    overflow: visible;
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    min-height: 15px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

::selection {
    background: #e2e2e2;
}
::-moz-selection {
    background: #e2e2e2;
}